<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel='tests'>
	<test thread-count="5" name="Validating Title">
		<classes>
			<class name="com.academy.E2EProject.ValidateTitle" />
		</classes>
	</test>
	<test thread-count="5" name="Validating Log in">
		<classes>
			<class name="com.academy.E2EProject.HomePage" />
		</classes>
	</test>
	<test thread-count="5" name="Validating Nav Bar">
		<classes>
			<class name="com.academy.E2EProject.ValidateNavBar" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
